<!doctype html>
<html lang="en">
    <head>
        <title>Lobby</title>
        <style>
            h1, h2, div, label {
                font-size:xx-large;
                text-align: center;
            }
            h3{
                text-align: center;
                font-size: x-large;
                color:#4e5f32;
            }
            p {
                font-size:medium;
                text-align: center;
            }
            label,input{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            body{
                align-items: center;
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
            button{
                align-items:center;
                text-align: center;
                margin: 40px;
                width: 100px;
                height: 60px;
                font-size: large;
            }
            #rules{
                display:flex;
                position:absolute;
                align-items: center;
                justify-content: center;
                background-color: #a0c464;
                border-radius: 50%;
                bottom: 0;
                left: 0;
                z-index: 5;
                width: 100%;
                height: 200px;
            }
            #lobby-members{
                width: 80%;
                height: 80%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: space-between;
                gap:100px;

            }
            #lobby-members > * {
                padding: 20px;
                border: 2px solid rgb(19, 69, 31);
                border-radius: 5px;
                background-color: #a0c464;
                justify-content: center;
            }
            #current-player{
                background-color:#b68ce6;  
            }
            #play{
                background-color:#b68ce6;
            }
            #cancel{
                background-color: #7b5aa0;
            }


        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/src/public/css/style.css" />
    </head>

    <body>
        <div>
            <h1>Qwirkle</h1>
        </div>

        <!-- can add/adjust the boxes to have text underneath
        OR have the names in the boxes-->
        <section id = "lobby-members">
            <div id="host">One</div>
            <div>Two</div>

        </section>
        <br>
        <section id = "lobby-members">
            <div>Three</div>
            <section id = "password">
                <h2> Password: <%= code %> </h2>
            </section>
            <div>Four</div>
        </section>
        <br>
        <section id = "lobby-members">
            <div>Five</div>
            <div>Six</div>
        </section>
        
        <section id = "host-buttons">
            <button id="play">Play</button>
            <button id="cancel">Cancel</button>
        </section>        

        <section id = "non-host">
            <h3>Waiting for Host...</h3>
        </section>

        <section id = "player-count">
            <!-- database code in here -->
        </section>

        <section id = "rules">
            <h1> How To: </h1>
            <ol>
            <li> Match different colored tiles and same colored shapes in lines to score points </li>
            <li> Same exact tiles cannot repeat in the same line. </li>
            <li> Matching rows of 6 are worth 12 points. </li>
            </ol>
        </section>

    </body>
</html>

<!-- <p>The lobby ID from the url is: <%= code %></p><br> -->
 <!--assign current-player to whoever needs it -->