<!doctype html>
<html lang="en">

<head>
    <title>Lobby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div>
        <h1>Qwirkle</h1>
    </div>

    <section id="lobby-members">
        <div class="member-container">
            <div id="host">1</div>
            <div class="member-text">Host: </div>
        </div>
        <div class="member-container">
            <div>2</div>
            <div class="member-text">Player 2</div>
        </div>
    </section>
    <br>
    <section id="lobby-members">
        <div class="member-container">
            <div>3</div>
            <div class="member-text">Player 3</div>
        </div>
        <section id="password">
            <h2> Password: <%= code %>
            </h2>
        </section>
        <div class="member-container">
            <div>4</div>
            <div class="member-text">Player 4</div>
        </div>
    </section>
    <br>
    <section id="lobby-members">
        <div class="member-container">
            <div>5</div>
            <div class="member-text">Player 5</div>
        </div>
        <div class="member-container">
            <div>6</div>
            <div class="member-text">Player 6</div>
        </div>
    </section>

    <section id="host-buttons">
        <button id="play">Play</button>
        <button id="cancel">Cancel</button>
    </section>

    <section id="non-host">
        <h3>Waiting for Host...</h3>
    </section>

    <section id="player-count">
        1/2
    </section>

    <section id="rules">
        <h1> How To: </h1>
        <ol>
            <li> Match different colored tiles and same colored shapes in lines to score points </li>
            <li> Same exact tiles cannot repeat in the same line. </li>
            <li> Matching rows of 6 are worth 12 points. </li>
        </ol>
    </section>

</body>

</html>