<!doctype html>
<html lang="en">
    <head>
        <title>Lobby Finder</title>
        <style>

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/src/public/css/style.css" />
    </head>

    <body>
    </body>
</html>
