<!doctype html>
<html lang="en">
    <head>
        <title>Lobby Finder</title>
        <style>

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="/src/public/css/style.css" /> -->
    </head>

    <body>
        <div class="search-container">
            <form id="searchForm" method="post" action="/lobbyfinder/">
                <label for="userInput">Enter a code:</label>
                <input type="text" id="userInput" name="userInput" required>
                <button type="submit">Submit</button>
            </form>

            <form method="post" action="lobbyfinder/create">
                <button>Create Lobby</button>
            </form>
            <button type="button">Log out</button>

    </body>

    <script>
    </script>
</html>
