<html>
    <head>
        <title>Lobby</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/src/public/css/style.css" />
    </head>
    <body>
        <p>This page is what would load when joining a lobby</p><br>
        <p>The lobby ID from the url is: <%= code %></p><br>
        <a href="http://localhost:3000">home page</a><br>
        <a href="http://localhost:3000/lobby?code=hello">lobby link</a><br>
        <a href="http://localhost:3000/login">login link</a><br>
        <a href="http://localhost:3000/register">register link</a><br>
        <a href="http://localhost:3000/game">game link</a><br>
        <a href="http://localhost:3000/lobbyfinder">lobby finder link</a><br>
    </body>
</html> 
