<html>
 <head>
 <title>Login</title>
 </head>
 <body>
 <p>This page is what would load when logging in. The user would also be asked for a lobby code.</p><br>
 <a href="http://localhost:3000">home page</a><br>
 <a href="http://localhost:3000/lobby?code=hello">lobby link</a><br>
 <a href="http://localhost:3000/login">login link</a><br>
 <a href="http://localhost:3000/register">register link</a><br>
 <a href="http://localhost:3000/game">game link</a><br>
 <a href="http://localhost:3000/lobbyfinder">lobby finder link</a><br>
 </body>
</html> 
