<!doctype html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/src/public/css/style.css" />
    </head>
<%- include('../partials/head') %>
	<body>
	<%- include('../partials/menu') %>
		<section id = "input-form">
			<form method="post" action="/auth/login">
				<div>
					<label for="email">Email</label>
					<input
					type="email"
					id="email"
					name="email"
					placeholder="you@domain.com"
					required
					/>
				</div>
				<div>
					<label for="password">Password</label>
					<input type="password" id="password" name="password"
					required />
					</div>
					<div>
					<button type="submit">Login</button>
				</div>
			</form>
		</section>
	</body>
</html>
