<html>
 <head>
 <title>Hello</title>
 </head>
 <body>
 <p>This is the root page. <%= name %>.</p><br>
 <p>From here, users would be directed to login if they are not already.</p>
 <a href="lobby?code=hello">lobby link</a><br>
 <a href="login">login link</a><br>
 <a href="register">register link</a><br>
 <a href="game">game link</a><br>
 <a href="lobbyfinder">lobby finder link</a><br>
 <script src="/js/main.js"></script>
 </body>
</html> 
